
.normal {
}
.channelAvatar-3 .cavatar{
  width:40px !important;
  height: 13px !important;
}
.channelAvatar-4 .cavatar{
  width:20px !important;
  height: 20px !important;
}
.channelAvatar-5  .cavatar{
   width:13px !important;
   height: 13px !important;
 }
.channelAvatar-6 .cavatar{
    width:40px;
    height: 13px;
}
.channelAvatar-7 .cavatar{
     width:40px;
     height: 13px;
}
.channelAvatar-8 .cavatar{
      width:40px;
      height: 13px;
}
.channelAvatar-3 .cavatar{
      width:40px;
      height: 13px;
}
.channelAvatar .cavatar, .channelAvatar .cavatardiv{
  width: 40px !important;
  line-height: 10px !important;
}
