.channelIcon{
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
  width: 150px;
  cursor:pointer;
}
.channelIconSelected{
  border: 1px solid #ccc;
  margin: 0 10px 10px 0;
  width: 150px;
  cursor:pointer;
  box-shadow: 2px 2px 1px 0px #666;
}
